# <b> Week 9 </b>

## <b>File Handling</b>

In [3]:
# Creating and writing
f = open("sample.txt", "w")
f.write("Fisrt line \n")  # If you don't put \n it will push the string in same line
f.write("Second Line")
f.close()  # Always close the file

In [5]:
# Reading

f = open("sample.txt", "r")
s = f.read()
print(s)
f.close()
# print(s)  This will not work as the file is already closed and is not in the memory anymore

Fisrt line
Second Line

### Big Files

In [12]:
# let's generate some numbers and store them in a file
import random

f = open("Numbers.txt", "w")
for i in range(500, 10000000):
    i = random.randint(1000000000, 9999999999)
    i = str(i)
    f.write(i)
    f.write("\n")

f.close()

In [7]:
f = open("Numbers.txt", "r")


def converter():
    s = "0"
    while s != "":
        s = f.readline()
        if s != "":  # to avoid EOF error
            n = int(s)
            if n == 5906385225:
                return "Number found !!"
    return "Number not found"


def reader():
    f.readline()  # Reads only one lin at a time
    return (
        f.readlines()
    )  # will read all the lines in the file, Type = list with numbers as string

    # after the control reaches the last line it will just print ''


# converter()

'Number found !!'

### Really big files

In [ ]:
# let's generate some numbers and store them in a file
def really_large():
    import random

    f = open("ReallyLargeNumbers.txt", "w")
    for i in range(1, 10000000000):
        i = random.randint(1000000000, 9999999999)
        i = str(i)
        f.write(i)
        f.write("\n")


# really_large()

# File generated here is over 8 Gb, it could have been more but I stopped the code from running any further

In [21]:
# Processing SherlockHomes
import string

f = open("SherlockHolmes.txt", "r+")
g = open("SherlockHolmes_Modified.txt", "w+")
s = "0"
while s != "":
    s = f.readline()
    s = s.lower()
    cleaned = string.punctuation + '—' + 'â' +'€' + '”' +'\n' +'1' + "2" + "3" + "4" + "5" + "6" + "7" + "8"
    cleaned_sentence = "".join(
        char if char != " " and char not in cleaned else "" for char in s
    )
    g.write(cleaned_sentence)

f.close()
g.close()

### Caesar Cipher

In [22]:
""" In this program I am trying to kind of do some cryptography ( basic one ofc ) 
    a will be shifted to 3 places that means a will become d 
    b will become e
    ........
    ........
    w will become z 
    x will become a 
    y will become b
    z will become c"""

import string


def create_ceaser_dictonary():
    l = string.ascii_lowercase
    l = list(l)
    d = {}
    for i in range(len(l)):
        d[l[i]] = l[(i + 3) % 26]
    return d

with open("SherlockHolmes_Modified.txt",'r') as f , open("SherlockHolmes_Encrypted.txt", 'w') as g : 
    # If you use with statements, python will automatically close the file after all the operations have been performed you do not need to close the file
    d = create_ceaser_dictonary()
    c = f.read(1)
    while(c != ''):
        g.write(d[c])
        c = f.read(1)

In [1]:
# This program will decrypt the Caesar Cipher
import string


def create_ceaser_dictonary():
    l = string.ascii_lowercase
    l = list(l)
    d = {}
    for i in range(len(l)):
        d[l[i]] = l[(i - 3) % 26]   # very easy 
    return d

with open("SherlockHolmes_Encrypted.txt",'r') as f , open("SherlockHolmes_decrypted.txt", 'w') as g : 
    # If you use with statements, python will automatically close the file after all the operations have been performed you do not need to close the file
    d = create_ceaser_dictonary()
    c = f.read(1)
    while(c != ''):
        g.write(d[c])
        c = f.read(1)

# Yes all the punctuation and white spaces are lost but the movie was to show how cryptography works (kind of ofc) also its not very hard to read the decrypted file :)

### Seek()

In [5]:
f = open("Somenumbers.txt",'w')
for i in range(10):
    i = str(i)
    f.write(i)
    
f.close()

In [7]:
with open("Somenumbers.txt",'r') as f:
    s = f.seek(6) # the cursor jumps to the nth position provided as the parameter in seek(n)
    p = f.read(2) # now it will read from the point where the cursor is at
    print(s)    # 6th index
    print(p)    # prints 2 characters from 6th index that is 6 and 7

6
67

### Genetic Sequences

In [31]:
def Disease():
    with open('HumanDNA.txt','r') as f:
        diab = 'GTATGAC'        # If this is present in your DNA, you have potiential Diabetes
        BloodPressure = "TAGAAACCTGGATA"
        if diab and BloodPressure in f.read():
            return "Blood Pressure and Diabetes"
        elif diab in f.read():
            return "Diabetes"
        elif BloodPressure in f.read():
            return "Blood Pressure"
    return "Nothing"

Disease()

'Blood Pressure and Diabetes'

### Pandas

In [76]:
with open("Students_dataset.csv", 'r') as f:
    # Skip the first line (header)
    f.readline()
    
    max_math_score = 0
    
    # Iterate through each line in the file
    for line in f:
        # Split the line into fields
        fields = line.split(',')
        
        # Extract the math score (assuming it's the 5th field)
        math_score = int(fields[5])
        
        # Update max_math_score if the current score is greater
        if math_score > max_math_score:
            max_math_score = math_score
    
    print("Maximum marks in math:", max_math_score)

Maximum marks in math: 92

But you see all of that took a some good lines to code, but as engineers we are supposed to be lazy and intelligent. Its a kind of tradition or an obligation.

In [77]:
import pandas as pd # pip install pandas in terminal to install pandas

data = pd.read_csv('Students_dataset.csv')  # The data variable is a special kind of variable called a dataframe
print(data) # Pandas will always add index number to each row on its own, it is very helpful
print("Maximum marks in math :",data['Math'].max())

# LOL 3 lines only, hence Pandas are lazy but intelligent

    Roll Number             Name  Gender Date of Birth  Phone Number  Math  \
0             1      Arjun Patel    Male    1999-05-15    9876543210    85
1             2      Neha Sharma  Female    2000-02-20    8765432109    90
2             3      Rahul Gupta    Male    1998-11-10    7654321098    80
3             4      Priya Singh  Female    1999-08-25    6543210987    88
4             5       Amit Kumar    Male    2000-04-30    5432109876    92
5             6      Sneha Verma  Female    1999-12-05    4321098765    85
6             7     Vikram Reddy    Male    1998-07-20    3210987654    78
7             8     Pooja Mishra  Female    2000-01-15    2109876543    82
8             9       Ravi Patel    Male    1999-10-10    1098765432    90
9            10     Anjali Mehta  Female    1998-09-05    9876543210    85
10           11      Aarav Joshi    Male    1999-06-25    8765432109    88
11           12       Kavita Das  Female    2000-03-20    7654321098    92
12           13      Rohan Singh    Male    1998-12-15    6543210987    85
13           14    Deepika Gupta  Female    1999-07-30    5432109876    90
14           15      Aditya Jain    Male    2000-05-10    4321098765    82
15           16   Riya Choudhury  Female    1999-11-25    3210987654    88
16           17     Rajesh Patel    Male    1998-08-20    2109876543    90
17           18      Jyoti Yadav  Female    2000-02-15    1098765432    85
18           19      Kiran Kumar    Male    1999-09-10    9876543210    78
19           20    Sunita Sharma  Female    1998-06-05    8765432109    92
20           21     Rakesh Singh    Male    2000-01-30    7654321098    85
21           22     Sarita Patel  Female    1999-07-15    6543210987    80
22           23      Vivek Gupta    Male    1998-12-20    5432109876    88
23           24     Sakshi Verma  Female    1999-05-25    4321098765    90
24           25      Alok Tiwari    Male    2000-03-10    3210987654    85
25           26      Nisha Singh  Female    1999-10-05    2109876543    92
26           27    Gaurav Mishra    Male    1998-08-30    1098765432    78
27           28      Anita Reddy  Female    2000-02-15    9876543210    82
28           29     Manish Patel    Male    1999-09-10    8765432109    90
29           30     Sonali Gupta  Female    1998-06-05    7654321098    85
30           31     Sanjay Kumar    Male    1999-12-20    6543210987    88
31           32  Priyanka Sharma  Female    2000-04-30    5432109876    92
32           33      Ankit Gupta    Male    1999-12-05    4321098765    85
33           34     Shreya Singh  Female    1998-07-20    3210987654    78
34           35     Rahul Sharma    Male    2000-01-15    2109876543    82
35           36     Anjali Reddy  Female    1999-10-10    1098765432    90
36           37      Vivek Kumar    Male    1998-09-05    9876543210    85
37           38      Divya Patel  Female    1999-06-25    8765432109    88
38           39      Manoj Kumar    Male    2000-03-20    7654321098    92
39           40      Swati Gupta  Female    1998-12-15    6543210987    85
40           41     Ashish Singh    Male    1999-07-30    5432109876    90
41           42   Priyanka Patel  Female    2000-05-10    4321098765    82
42           43      Rahul Verma    Male    1999-11-25    3210987654    88
43           44     Komal Sharma  Female    1998-08-20    2109876543    90
44           45   Abhishek Singh    Male    2000-02-15    1098765432    85
45           46     Sneha Kumari  Female    1999-09-10    9876543210    78

    Physics  Chemistry  English  Computer  Biology
0        78         92       88        90       85
1        85         88       92        87       89
2        75         85       78        82       80
3        92         90       85        89       91
4        88         84       80        91       87
5        90         86       88        90       92
6        82         80       75        85       83
7        80         75       84        86       80
8        85         89       91       100       87
9        89         91       86        90       88
10       87         85       83        80       81
11       90         88       89        85       84
12       82         86       80        88       84
13       88         85       87        92       89
14       80         78       85        86       83
15       85         90       92        87       88
16       92         87       85        84       82
17       87         84       89        90       86
18       82         80       75        83       80
19       88         90       86        89       91
20       90         88       89        91       87
21       75         85       78        82       80
22       92         90       85        87       89
23       85         89       91        88       87
24       89         91       86        90       88
25       90         86       88        90       92
26       82         80       75        85       83
27       80         75       84         0       80
28       85         89       91        88       87
29       89         91       86        90       88
30       87         85       83        80       81
31       88         84       80        91       87
32       90         86       88        90       92
33       82         80       75        85       83
34       80         75       84        86       80
35       85         89       91        88       87
36       89         91       86        90       88
37       87         85       83        80       81
38       90         88       89        85       84
39       82         86       80        88       84
40       88         85       87        92       89
41       80         78       85        86       83
42       85         90       92        87       88
43       92         87       85        84       82
44       87         84       89        90       86
45       82         80       75        12       15
Maximum marks in math : 92

In [78]:
# how to count number of rows and columns ?
print(data.shape) # (rows,Columns)
print(data.count()) # number of values in each column

(46, 11)
Roll Number      46
Name             46
Gender           46
Date of Birth    46
Phone Number     46
Math             46
Physics          46
Chemistry        46
English          46
Computer         46
Biology          46
dtype: int64

In [79]:
# who got the minimum marks in maths?
print("Minum marks in math : ",data['Math'].min())

# Average marks in math
print("Average marks in math : ",data["Math"].mean())

# Total of marks abtained by students in math ?
print("Sum of all marks in math : ",data["Math"].sum())

Minum marks in math :  78
Average marks in math :  86.04347826086956
Sum of all marks in math :  3958

In [80]:
# can we sort the marks obtained in math?
print(data["Math"].sort_values()) # It will preserve the index number that it adds on its own

45    78
26    78
33    78
6     78
18    78
2     80
21    80
34    82
7     82
27    82
41    82
14    82
39    85
20    85
29    85
24    85
44    85
36    85
32    85
0     85
17    85
5     85
12    85
9     85
22    88
15    88
42    88
10    88
30    88
3     88
37    88
43    90
1     90
40    90
35    90
13    90
8     90
28    90
23    90
16    90
4     92
38    92
19    92
31    92
11    92
25    92
Name: Math, dtype: int64

In [81]:
print(data['Name'],type(data['Name'])) # Here data is a special variable called a dataframe it is a 2-D entity and each column is called as a series.

0         Arjun Patel
1         Neha Sharma
2         Rahul Gupta
3         Priya Singh
4          Amit Kumar
5         Sneha Verma
6        Vikram Reddy
7        Pooja Mishra
8          Ravi Patel
9        Anjali Mehta
10        Aarav Joshi
11         Kavita Das
12        Rohan Singh
13      Deepika Gupta
14        Aditya Jain
15     Riya Choudhury
16       Rajesh Patel
17        Jyoti Yadav
18        Kiran Kumar
19      Sunita Sharma
20       Rakesh Singh
21       Sarita Patel
22        Vivek Gupta
23       Sakshi Verma
24        Alok Tiwari
25        Nisha Singh
26      Gaurav Mishra
27        Anita Reddy
28       Manish Patel
29       Sonali Gupta
30       Sanjay Kumar
31    Priyanka Sharma
32        Ankit Gupta
33       Shreya Singh
34       Rahul Sharma
35       Anjali Reddy
36        Vivek Kumar
37        Divya Patel
38        Manoj Kumar
39        Swati Gupta
40       Ashish Singh
41     Priyanka Patel
42        Rahul Verma
43       Komal Sharma
44     Abhishek Singh
45       Sneha Kumari
Name: Name, dtype: object <class 'pandas.core.series.Series'>

In [82]:
print(data.head()) # prints the top five rows in the dataset
print("\n")
print(data.tail()) # prints the last five rows in the dataset

   Roll Number         Name  Gender Date of Birth  Phone Number  Math  \
0            1  Arjun Patel    Male    1999-05-15    9876543210    85
1            2  Neha Sharma  Female    2000-02-20    8765432109    90
2            3  Rahul Gupta    Male    1998-11-10    7654321098    80
3            4  Priya Singh  Female    1999-08-25    6543210987    88
4            5   Amit Kumar    Male    2000-04-30    5432109876    92

   Physics  Chemistry  English  Computer  Biology
0       78         92       88        90       85
1       85         88       92        87       89
2       75         85       78        82       80
3       92         90       85        89       91
4       88         84       80        91       87


    Roll Number            Name  Gender Date of Birth  Phone Number  Math  \
41           42  Priyanka Patel  Female    2000-05-10    4321098765    82
42           43     Rahul Verma    Male    1999-11-25    3210987654    88
43           44    Komal Sharma  Female    1998-08-20    2109876543    90
44           45  Abhishek Singh    Male    2000-02-15    1098765432    85
45           46    Sneha Kumari  Female    1999-09-10    9876543210    78

    Physics  Chemistry  English  Computer  Biology
41       80         78       85        86       83
42       85         90       92        87       88
43       92         87       85        84       82
44       87         84       89        90       86
45       82         80       75        12       15

In [83]:
# Let's see if we can access a particular information, shuch as details based on the name of a student

print(data[data['Name'] == 'Abhishek Singh'])

    Roll Number            Name Gender Date of Birth  Phone Number  Math  \
44           45  Abhishek Singh   Male    2000-02-15    1098765432    85

    Physics  Chemistry  English  Computer  Biology
44       87         84       89        90       86

In [84]:
print(data[data['Math'] == 90]) # how many students have got 90 in math?

    Roll Number           Name  Gender Date of Birth  Phone Number  Math  \
1             2    Neha Sharma  Female    2000-02-20    8765432109    90
8             9     Ravi Patel    Male    1999-10-10    1098765432    90
13           14  Deepika Gupta  Female    1999-07-30    5432109876    90
16           17   Rajesh Patel    Male    1998-08-20    2109876543    90
23           24   Sakshi Verma  Female    1999-05-25    4321098765    90
28           29   Manish Patel    Male    1999-09-10    8765432109    90
35           36   Anjali Reddy  Female    1999-10-10    1098765432    90
40           41   Ashish Singh    Male    1999-07-30    5432109876    90
43           44   Komal Sharma  Female    1998-08-20    2109876543    90

    Physics  Chemistry  English  Computer  Biology
1        85         88       92        87       89
8        85         89       91       100       87
13       88         85       87        92       89
16       92         87       85        84       82
23       85         89       91        88       87
28       85         89       91        88       87
35       85         89       91        88       87
40       88         85       87        92       89
43       92         87       85        84       82

In [85]:
print(data[data['English'] == data['English'].max()]) # How many or who got the maximum marks in english

    Roll Number            Name  Gender Date of Birth  Phone Number  Math  \
1             2     Neha Sharma  Female    2000-02-20    8765432109    90
15           16  Riya Choudhury  Female    1999-11-25    3210987654    88
42           43     Rahul Verma    Male    1999-11-25    3210987654    88

    Physics  Chemistry  English  Computer  Biology
1        85         88       92        87       89
15       85         90       92        87       88
42       85         90       92        87       88

In [87]:
data = pd.read_csv("Students_dataset.csv")
print('Male topper in Computer : ',data[data['Gender'] == 'Male']['Computer'].max()) # Topper male in Computer
print('Female topper in Computer : ',data[data['Gender'] == 'Female']['Computer'].max() ) # Topper female in Computer

print('Minimum marks of male in Computer : ',data[data['Gender'] == 'Male']['Computer'].min()) # Topper male in Computer
print('Minimum marks of female in Computer: ',data[data['Gender'] == 'Female']['Computer'].min() ) # Topper female in Computer

Male topper in Computer :  100
Female topper in Computer :  92
Minimum marks of male in Computer :  80
Minimum marks of female in Computer:  0

In [104]:
print(data['Name'][data['Physics'] > 85]) # Name of all the students who scored more than 85 in physics

3         Priya Singh
4          Amit Kumar
5         Sneha Verma
9        Anjali Mehta
10        Aarav Joshi
11         Kavita Das
13      Deepika Gupta
16       Rajesh Patel
17        Jyoti Yadav
19      Sunita Sharma
20       Rakesh Singh
22        Vivek Gupta
24        Alok Tiwari
25        Nisha Singh
29       Sonali Gupta
30       Sanjay Kumar
31    Priyanka Sharma
32        Ankit Gupta
36        Vivek Kumar
37        Divya Patel
38        Manoj Kumar
40       Ashish Singh
43       Komal Sharma
44     Abhishek Singh
Name: Name, dtype: object

In [121]:
print(data[data['English'].between(90,100)]) # details of students who scored between 90 and 100 in dataset
print('\n')
print('Number of students: ',data[data['English'].between(90,100)].shape[0]) # Number of students who scored between 90 and 100 in dataset. shape[] gives the tuple giving rows and columns in m x n manner
# and shape[0] picks up the rows from the tuple

print('Number of Male students wose marks in english is between 90 - 100 :',data[(data['Gender'] == 'Male') & data['English'].between(90,100)].shape[0]) # Number of students whose gender is Male and their marks of english is between (90,100)
print('Number of Female students wose marks in english is between 90 - 100 :',data[(data['Gender'] == 'Female') & data['English'].between(90,100)].shape[0])  # Number of students whose gender is Female and their marks of english is between (90,100)

    Roll Number            Name  Gender Date of Birth  Phone Number  Math  \
1             2     Neha Sharma  Female    2000-02-20    8765432109    90
8             9      Ravi Patel    Male    1999-10-10    1098765432    90
15           16  Riya Choudhury  Female    1999-11-25    3210987654    88
23           24    Sakshi Verma  Female    1999-05-25    4321098765    90
28           29    Manish Patel    Male    1999-09-10    8765432109    90
35           36    Anjali Reddy  Female    1999-10-10    1098765432    90
42           43     Rahul Verma    Male    1999-11-25    3210987654    88

    Physics  Chemistry  English  Computer  Biology
1        85         88       92        87       89
8        85         89       91       100       87
15       85         90       92        87       88
23       85         89       91        88       87
28       85         89       91        88       87
35       85         89       91        88       87
42       85         90       92        87       88


Number of students:  7
Number of Male students wose marks in english is between 90 - 100 : 3
Number of Female students wose marks in english is between 90 - 100 : 4

### The and operator does not work with pandas insted use &

In [131]:
print(data[(data['Gender'] == 'Male') & (data['Math'] & data['English'] & data['Biology'] & data['Chemistry'] & data['Computer'] & data['Physics']).between(80,100)]) # Details of Male students who have scored between 80 to 100 in all the subjects
print('Number of students : ',data[(data['Gender'] == 'Male') & (data['Math'] & data['English'] & data['Biology'] & data['Chemistry'] & data['Computer'] & data['Physics']).between(80,100)].shape[0]) # Number of such students

    Roll Number            Name Gender Date of Birth  Phone Number  Math  \
4             5      Amit Kumar   Male    2000-04-30    5432109876    92
10           11     Aarav Joshi   Male    1999-06-25    8765432109    88
12           13     Rohan Singh   Male    1998-12-15    6543210987    85
16           17    Rajesh Patel   Male    1998-08-20    2109876543    90
20           21    Rakesh Singh   Male    2000-01-30    7654321098    85
22           23     Vivek Gupta   Male    1998-12-20    5432109876    88
24           25     Alok Tiwari   Male    2000-03-10    3210987654    85
28           29    Manish Patel   Male    1999-09-10    8765432109    90
30           31    Sanjay Kumar   Male    1999-12-20    6543210987    88
32           33     Ankit Gupta   Male    1999-12-05    4321098765    85
36           37     Vivek Kumar   Male    1998-09-05    9876543210    85
38           39     Manoj Kumar   Male    2000-03-20    7654321098    92
40           41    Ashish Singh   Male    1999-07-30    5432109876    90
42           43     Rahul Verma   Male    1999-11-25    3210987654    88
44           45  Abhishek Singh   Male    2000-02-15    1098765432    85

    Physics  Chemistry  English  Computer  Biology
4        88         84       80        91       87
10       87         85       83        80       81
12       82         86       80        88       84
16       92         87       85        84       82
20       90         88       89        91       87
22       92         90       85        87       89
24       89         91       86        90       88
28       85         89       91        88       87
30       87         85       83        80       81
32       90         86       88        90       92
36       89         91       86        90       88
38       90         88       89        85       84
40       88         85       87        92       89
42       85         90       92        87       88
44       87         84       89        90       86
Number of students :  15

In [132]:
print(data[(data['Gender'] == 'Female') & (data['Math'] & data['English'] & data['Biology'] & data['Chemistry'] & data['Computer'] & data['Physics']).between(80,100)])
print('Number of students : ',data[(data['Gender'] == 'Female') & (data['Math'] & data['English'] & data['Biology'] & data['Chemistry'] & data['Computer'] & data['Physics']).between(80,100)].shape[0])

    Roll Number             Name  Gender Date of Birth  Phone Number  Math  \
1             2      Neha Sharma  Female    2000-02-20    8765432109    90
3             4      Priya Singh  Female    1999-08-25    6543210987    88
5             6      Sneha Verma  Female    1999-12-05    4321098765    85
9            10     Anjali Mehta  Female    1998-09-05    9876543210    85
11           12       Kavita Das  Female    2000-03-20    7654321098    92
13           14    Deepika Gupta  Female    1999-07-30    5432109876    90
15           16   Riya Choudhury  Female    1999-11-25    3210987654    88
17           18      Jyoti Yadav  Female    2000-02-15    1098765432    85
19           20    Sunita Sharma  Female    1998-06-05    8765432109    92
23           24     Sakshi Verma  Female    1999-05-25    4321098765    90
25           26      Nisha Singh  Female    1999-10-05    2109876543    92
29           30     Sonali Gupta  Female    1998-06-05    7654321098    85
31           32  Priyanka Sharma  Female    2000-04-30    5432109876    92
35           36     Anjali Reddy  Female    1999-10-10    1098765432    90
37           38      Divya Patel  Female    1999-06-25    8765432109    88
39           40      Swati Gupta  Female    1998-12-15    6543210987    85
43           44     Komal Sharma  Female    1998-08-20    2109876543    90

    Physics  Chemistry  English  Computer  Biology
1        85         88       92        87       89
3        92         90       85        89       91
5        90         86       88        90       92
9        89         91       86        90       88
11       90         88       89        85       84
13       88         85       87        92       89
15       85         90       92        87       88
17       87         84       89        90       86
19       88         90       86        89       91
23       85         89       91        88       87
25       90         86       88        90       92
29       89         91       86        90       88
31       88         84       80        91       87
35       85         89       91        88       87
37       87         85       83        80       81
39       82         86       80        88       84
43       92         87       85        84       82
Number of students :  17

In [145]:
# Or a better way to do it is 

subject = ['Math','Physics','Chemistry','English','Computer','Biology']

for sub in subject:
    print(f'Number of Male students above 90 in {sub} :',data[(data['Gender'] == 'Male') & (data[sub] > 90)].shape[0])
    print(f'Number of Female students above 90 in {sub} :',data[(data['Gender'] == 'Female') & (data[sub] > 90)].shape[0])
    print('\n')

Number of Male students above 90 in Math : 2
Number of Female students above 90 in Math : 4


Number of Male students above 90 in Physics : 2
Number of Female students above 90 in Physics : 2


Number of Male students above 90 in Chemistry : 3
Number of Female students above 90 in Chemistry : 2


Number of Male students above 90 in English : 3
Number of Female students above 90 in English : 4


Number of Male students above 90 in Computer : 4
Number of Female students above 90 in Computer : 2


Number of Male students above 90 in Biology : 1
Number of Female students above 90 in Biology : 4

In [156]:
subject = ['Math','Physics','Chemistry','English','Computer','Biology']

for sub in subject:
    print('Average = ',data[sub].mean())
    print(f'Number of Male students above average in {sub} :',data[(data['Gender'] == 'Male') & (data[sub] > data[sub].mean())].shape[0])
    print(f'Number of Female students above average in {sub} :',data[(data['Gender'] == 'Female') & (data[sub] > data[sub].mean())].shape[0])
    print('\n')

Average =  86.04347826086956
Number of Male students above average in Math : 10
Number of Female students above average in Math : 12


Average =  85.56521739130434
Number of Male students above average in Physics : 12
Number of Female students above average in Physics : 12


Average =  85.43478260869566
Number of Male students above average in Chemistry : 12
Number of Female students above average in Chemistry : 13


Average =  84.84782608695652
Number of Male students above average in English : 14
Number of Female students above average in English : 15


Average =  83.8913043478261
Number of Male students above average in Computer : 19
Number of Female students above average in Computer : 19


Average =  83.93478260869566
Number of Male students above average in Biology : 14
Number of Female students above average in Biology : 15

### Groupby

In [157]:
subject = ['Math','Physics','Chemistry','English','Computer','Biology']

for sub in subject:
    print(f'{sub} Average = ',data[sub].mean())
    print(data[data[sub] > data[sub].mean()].groupby('Gender').groups)  # this will show with indices of students in the form of a dictonary

Math Average =  86.04347826086956
{'Female': [1, 3, 11, 13, 15, 19, 23, 25, 31, 35, 37, 43], 'Male': [4, 8, 10, 16, 22, 28, 30, 38, 40, 42]}
Physics Average =  85.56521739130434
{'Female': [3, 5, 9, 11, 13, 17, 19, 25, 29, 31, 37, 43], 'Male': [4, 10, 16, 20, 22, 24, 30, 32, 36, 38, 40, 44]}
Chemistry Average =  85.43478260869566
{'Female': [1, 3, 5, 9, 11, 15, 19, 23, 25, 29, 35, 39, 43], 'Male': [0, 8, 12, 16, 20, 22, 24, 28, 32, 36, 38, 42]}
English Average =  84.84782608695652
{'Female': [1, 3, 5, 9, 11, 13, 15, 17, 19, 23, 25, 29, 35, 41, 43], 'Male': [0, 8, 14, 16, 20, 22, 24, 28, 32, 36, 38, 40, 42, 44]}
Computer Average =  83.8913043478261
{'Female': [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 23, 25, 29, 31, 33, 35, 39, 41, 43], 'Male': [0, 4, 6, 8, 12, 14, 16, 20, 22, 24, 26, 28, 32, 34, 36, 38, 40, 42, 44]}
Biology Average =  83.93478260869566
{'Female': [1, 3, 5, 9, 11, 13, 15, 17, 19, 23, 25, 29, 31, 35, 39], 'Male': [0, 4, 8, 12, 20, 22, 24, 28, 32, 36, 38, 40, 42, 44]}